html, body, .container{
  height: 100%;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
}
p, h1, h2, h3, h4{
  margin-top: 0;
  margin-bottom: 0;
}
ul{
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
strong{
  font-weight: 400;
}
.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container-left{
  display: flex;
  align-items: center;
  justify-content: left;
}
.one-page{
  height: 100vh;
}
.list-no-style{
  list-style: none;
}
h1{
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 400;
  padding-top: 55px;
}
h2{
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 400;
  padding-top: 18px;
  margin: 0 0 10px 0;
}
h4{
  font-size: 22px;
  margin: 15px 0 8px 0;
}
a{
  text-decoration: none;
  color: inherit;
}

/* MAIN */

header{
  z-index: 2;
  height: 50px;
  position: fixed;
  width: 100%;
  background-color: #303030;
  padding-left: 15%;
  margin-right: 15%;

}
main{
  background: url(img/tasseresize.jpg) center top no-repeat;
  background-size: cover;
}
.flex-container-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-nav{
  display: flex;
}
.flex-nav-around{
  display: flex;
}
.rond-center{
  width: 33.3%;
}
nav{
  width: 50%;
}
.rond{
  font-family: 'Shadows Into Light', cursive;
  font-size: 28px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: black;
  background-color: white;
  line-height: 40px;
  justify-content: center;
  margin-left: 0%;
  }
.hvr-grow{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
}
nav li{
  width: 90px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 3px;
}
.type-it{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-family: 'Orbitron', monospace;
  font-size: 50px;
}
.down-arrow{
  position: absolute;
  bottom: 2%;
  text-align: center;
  width: 100%;
}

/* ABOUT */

#about{
  background-color: black;
  padding-right: 5%;
}
.onethird{
  width: 30%;
}
.twothird{
  width: 70%;
}
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 74%;
  bottom: 0;
  background: #851204;
  height: 12px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 40%;
}
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 96%;
  right: 0;
  bottom: 0;
  background: #851204;
  height: 12px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
  left: 89%;
}
.me{
  padding-left: 4%;
  width: 60%;
  filter: blur(5px);
}
.me:hover{
  transition: 1s;
  filter: blur(0);
}
.icon-link{
  border: 1px solid white;
  border-radius: 20%;
  padding: 5px;
  margin: 20px 8px 0 0;
}
.fa-margin-right{
  margin-right: 7px;
}
.fa-margin-right1{
  margin-right: 8px;
}
.fa-margin-leftright{
  margin-left: 11px;
  margin-right: 10px;
}
.flex-container-logo{
  display: flex;
  justify-content: flex-end;
}
.prog div, .other div{
  height: 100px;
  width: 100px;
  background-color: white;
  margin: 0 0 20px 20px;
  border: 5px solid #851204;
}
.prog div:hover, .other div:hover{
  border: 5px solid #D8D8D8;
}
.html{
  background: url('img/logos/html.png') center no-repeat;
  background-size: 95%;
}
.html:hover{
  width: 100px;
  height: 100px;
  background: white url('img/logos/spritehtml.png') 0 0 no-repeat;
  animation: spritehtml 1.3s steps(2) infinite;
}
@keyframes spritehtml{
  100% { background-position: 0 -200px; }
}
.css{
  background: url('img/logos/css.png') center no-repeat;
  background-size: 69%;
}
.css:hover{
  width: 100px;
  height: 100px;
  background: white url('img/logos/spritecss.png') 0 0 no-repeat;
  animation: spritecss 1.3s steps(2) infinite;
}
@keyframes spritecss{
  100% { background-position: 0 -200px; }
}
.javascript{
  background: url("img/logos/javascript.png") no-repeat center;
  background-size: contain;
}
.javascript:hover{
  background: white url("img/logos/jquery.png") no-repeat center;
  background-size: 95%;
}
.php{
  background: url('img/logos/php.png') center no-repeat;
  background-size: 95%;
}
.php:hover{
  width: 100px;
  height: 100px;
  background: white url('img/logos/spritephp.png') 0 0 no-repeat;
  animation: spritephp 1.3s steps(2) infinite;
}
@keyframes spritephp{
  100% { background-position: 0 -200px; }
}
.python{
  background: url("img/logos/python.png") no-repeat center;
  background-size: 95%;
}
.photoshop{
  background: url("img/logos/photoshop.png") no-repeat center;
  background-size: 102%;
}
.indesign{
  background: url("img/logos/indesign.png") no-repeat center;
  background-size: 103%;
}
.vegaspro{
  background: url("img/logos/vegaspro.png") no-repeat center;
  background-size: 215%;
}

/* WORK */

#work{
  background: url(img/concrete_wall.png) center top repeat;
}
.flex-container-work{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap{
  flex-wrap: wrap;
}
.hvr-underline-from-center{
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 49%;
  right: 49%;
  bottom: 0;
  background: #851204;
  height: 16px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 47%;
  right: 47%;
}
.column{
  display: flex;
  flex-direction: column;
  border: 2px solid #851204;
  margin-right: 2.5%;
}
.case-img{
  display: flex;
  height: 340px;
  width: 340px;
  background-color: black !important;
}
.grey{
  background-color: #2E2E2E !important;
}
.case-txt{
  padding: 5px 0;
  background-color: #D8D8D8;
  height: auto;
  color: black;
}
.case-txt p{
  margin-left: 6px;
  line-height: 18px;
}
.hidden{
  opacity: 0;
  width: 340px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}
.hidden:hover{
  opacity: 1;
}
.wanna{
  font-weight: 700;
  font-size: 100px;
  line-height: 90px;
  color: #D8D8D888
}
.quiz-img{
  background: url("img/quiz-img.jpg") no-repeat center;
  background-size: contain;
}
.sgame-img{
  background: url("img/sgame1.jpeg") no-repeat center;
  background-size: contain;
}
.icon-git{
  margin-right: 8px;
}
.github{
  margin-top: 10px;
  margin-bottom: 30px;
}

/* CONTACT */

#contact{
  background: url(img/seatsresize.jpg) no-repeat top fixed;
  background-size: cover;
}
.flex-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}
.little-input{
  width: 14%;
  height: 32px;
}
.big-input{
  width: 30%;
  height: 220px;
}
.input-style{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
  padding-left: 8px;
  border: 3px solid #851204;
  border-radius: 6px;
}
placeholder{
  padding-left: 25px;
}
#submit{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid white;
  background-color: white;
  color: black;
  padding: 6px 10px;
}
#submit:hover{
  border: 1px solid white;
  background-color: #851204;
  color: white;
  padding: 6px 10px;
}
.logo-link a{
  margin-left: 8px;
}
.logo-link a:hover{
  color: #851204;
}
.flex-column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.end-port{
  padding: 8px;
  color: white;
  background-color: black;
}
.end-port p{
  margin-top: 10px;
  font-size: 15px;
}
